
{%extends 'user/base.html'%}

{%load static %} 


{%block title%}
        <title>Hireme</title>
{%endblock%}



        

        {%block content%}
        <div class="content">
                <h1>HIRE ME</h1>
                <p>Welcome to HireMe, where academia meets opportunity, seamlessly connecting professors and faculty with leading institutions. <br>Join us now!</p>

                
                <div>
                <button type = "button" ><span></span><a href="{% url 'login' %}">LOGIN</a></button>
                <button type = "bubtton" ><span></span><a href="{% url 'register' %}">REGISTER    </a></button>
                </div>
      
                   
        </div>
       

{%endblock%}