
{% extends 'user/base.html' %}
{%load static%}
{% block stylesheet %}
<link rel="stylesheet" href = "{% static "forms.css"%}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="form-box">
      <h1 id="title">Login</h1>
      <form action="{% url 'login' %}" method = "POST">
        {% csrf_token%}
          <div class="input-group">
              <div class="input-field" id="nameField">
                  <i class="fa-solid fa-user"></i>
                  <input  name = "username" type="text" placeholder="Username">
                  
              </div>
             
              <div class="input-field">
                  <i class="fa-solid fa-lock"></i>
                  <input name = "password" type="password" placeholder="Password">

              </div>
             
          </div>
          <div class="btn-field">
              <button type="submit" id="loginBtn">LogIn</button>
          </div>
      </form>
  </div>
</div>
{% endblock %}

{% block script %}
<!--
<script>
let registerBtn = document.getElementById("registerBtn");
let loginBtn = document.getElementById("loginBtn");
let nameField = document.getElementById("nameField");
let title = document.getElementById("title");

loginBtn.onclick = function(){
    nameField.style.maxHeight = "0";
    title.innerHTML = "Log-in";
    loginBtn.classList.add("disable");
    registerBtn.classList.remove("disable");
}

registerBtn.onclick = function(){
    nameField.style.maxHeight = "60px";
    title.innerHTML = "Register";
    loginBtn.classList.remove("disable");
    registerBtn.classList.add("disable");
}

</script>
-->
{% endblock%}
